.btn {
  padding: 8px 16px;
  border: 1px solid #115DA9;
  font-weight: 400;
  height: 40px;
}

.checked-radio {
  font-weight: bold;
  color: #ffffff; /* Ganti warna sesuai kebutuhan */
  background-color: #1890ff; /* Ganti warna sesuai kebutuhan */
}